<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Contactually Lite</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%="active" if current_controller?('contacts')%>">
        <a class="nav-link" href="/">Contacts</a>
      </li>
      <li class="nav-item <%="active" if current_controller?('companies')%>">
        <a class="nav-link" href="/companies">Companies</a>
      </li>
      <li class="nav-item <%="active" if current_controller?('file_uploads')%>">
        <a class="nav-link" href="/file_uploads">File Uploads</a>
      </li>
    </ul>
  </div>
</nav>
